.pet{
    width: 72px;
    height: 72px;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    pointer-events: none;
    // transition:all .5s linear;
    & img{
        width: 216px;
        height: 288px;
        background-size: 216px 288px;
    }
    
    &.Right{
        &.walk{
            & img{
                animation: petRunRight 0.3s steps(3) infinite;
            }
        }
        &.idle{
            & img{
                transform: translateY(0);
            }
        }
    }
    &.Left{
        &.idle{
            & img{
                transform: translateY(-216px);
            }
        }
        &.walk{
            & img{
                animation: petRunLeft 0.3s steps(3) infinite;
            }
        }
    }
    &.Top{
        &.idle{
            & img{
                transform: translateY(-72px);
            }
        }
        &.walk{
            & img{
                animation: petRunBottom 0.3s steps(3) infinite;
            }
        }
    }
    &.Bottom{
        &.idle{
            & img{
                transform: translateY(-144px);
            }
        }
        &.walk{
            & img{
                animation: petRunTop 0.3s steps(3) infinite;
            }
        }
    }
}

@keyframes petRunRight{
    0%{
        transform: translate(0,0);
    }
    100%{
        
        transform: translate(-216px,0);
    }
}
@keyframes petRunLeft{
    0%{
        transform: translate(0,-216px);
    }
    100%{
        
        transform: translate(-216px,-216px);
    }
}
@keyframes petRunTop{
    0%{
        transform: translate(0,-144px);
    }
    100%{
        
        transform: translate(-216px,-144px);
    }
}
@keyframes petRunBottom{
    0%{
        transform: translate(0,-72px);
    }
    100%{
        
        transform: translate(-216px,-72px);
    }
}